html {
  height: 100%
}
body, .root {
  min-height: 100%
}

.App-logo {
  height: calc(100% - 0px);
}

.App-link {
  color: #09d3ac;
}

.App {
  background-color: #282c34;
  text-align: center;
  min-height: calc(100vh - 0vh);
  place-content: stretch center;

  display: grid;
  grid-template-columns: 5vmin auto 5vmin;
  grid-template-rows: 5vmin auto 10vmin;
  grid-template-areas: 
    "header header header"
    "content content content"
    "footer footer footer"
  ;
}

.App-header {
  grid-area: header;

  background-color: #282c34;
  color: white;

  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
}

.App-main {
  grid-area: content;
  place-self: center;

  color: white;
  background-color: #282c34;
}

.App-footer {
  grid-area: footer;

  background-color: #282c34;
  color: white;

  align-self: center;
  font-size: calc(15px + 3vmin);
}